#login-sec{
    display: flex;
}
.left-side{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
}
.right-side{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7vw;
}